*{
    background-color:blueviolet;
}

#capa{
    display: flex;
    justify-content: center;
    flex-shrink:1;
    
}

.music{
    width: 300px;
    border-radius: 20px;
}

.audio{
    display:none;
    /*margin:auto;*/
}

.btn{
    width:30px;
    /*display:inline-block;
    margin-left:auto;
    margin-right:auto;*/
    padding: 5px;
}

#controls{
    /*text-align: center;*/
    display:flex; /* flex box let the let son itens inside container be more dynamics*/
    justify-content:center;
    margin-top:30px;
}

#title{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top:30px;
    margin-bottom: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.footer{
    margin-top:2px;
    margin-bottom:2px;
}

#bar{
    display:flex;
    justify-content: center;
}

.progression_bar{
    height: 10px;
    width: 300px;
    background-color: black;
    margin-top:25px;
    border-radius:5px;
}

.progressed{
    height: 10px;
    width: 0%;
    background-color: rgb(195, 199, 202);
    position:relative;
    border-radius:5px;
}

.progressed:after{
    content:'';
    position:absolute;
    height: 15px;
    width:15px;
    right:-5px;
    top:-2px;
    background-color: white;
    border-radius: 10px;
}
